# Ansible managed: helm-repo nginx TLS certificate renewal
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
{{ helm_repo_tls_cron_minute }} {{ helm_repo_tls_cron_hour }} * * * root {{ helm_repo_nginx_compose_project_dir }}/renew-helm-repo-tls-cert.sh >> {{ helm_repo_tls_cron_log_file }} 2>&1
