server {
    listen 443 ssl;
    server_name {{ custom_nginx_host }};

    ssl_certificate /etc/nginx/custom-certs/{{ custom_nginx_tls_cert_filename }};
    ssl_certificate_key /etc/nginx/custom-certs/{{ custom_nginx_tls_key_filename }};
    ssl_protocols TLSv1.2 TLSv1.3;

    root /var/www/custom;
    autoindex off;
    client_max_body_size 0;

    location / {
        try_files $uri $uri/ =404;
    }
}
